body {
    background-color:#34343a; 
  }

h1 {
    font-size: 25px;
    color: #222222
}

h2 {
    font-size: 20px;
    color: #222222
}

p {
    font-size: 14px;

}

#microheader {
    position: relative;
    top: 0;
    text-align: center;
    background: #34343a;
    color: lightgray;
    font-size: large;
}

/* Header/Logo Title */
#header {
    position: sticky;
    top: 0;
    height: auto;
    /* width: 100vw; */
    width: 800px;
    margin: auto;
    left: 0;
    right: 0;
    /* margin-top: -20px; */
    /* padding: 0; */
    /* width: 100%; */
    
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    /* text-align: center; */
    background: #2f4b60;
    color: white;
    font-size: 15px;
}

.content-wrap {
    margin-bottom: 100px; /* height of footer */
}

#footer {
    position: relative;
    height: auto;
    margin-top: 40px;
    padding: 0;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: #34343a;
    color: white;
    font-size: 25px;
}

#content {
    position: static;
    width: 800px;
    margin: auto; 
    /* border-style: solid;
    border-color: #aaaaaa; */
    padding: 20px;
    background-color: #f5f9ff;
    font-size: 25px;
    color: #151515
}

#refrence {
    position: relative;
    width: 750px;
    height: 10%;
    margin: auto;
    bottom: 0;
    background-color: #f5f9ff;
}

#pictureofdaytext {
    position: fixed;
    bottom: 0;
    right: 10px;
    width: auto;
    background-color: black;
    color: white;
    opacity: 0.5;
}

a:link {
color: blue;
background-color: transparent;
text-decoration: none;
}
.button {
    background-color: #1d78d2;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
}
.button1 {border-radius: 12px;}